{% extends "gr_construction_web/base_template.html" %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Client Added</title>
    <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Client Added Successfully!</h2>
        <h3>New Client Details:</h3>
        <p>Name: {{ client.name }}</p>
        <p>Status: {{ client.status }}</p>
        <p>Email: {{ client.email }}</p>
        <p>Phone Number: {{ client.phone_number }}</p>
        <p>Description: {{ client.description }}</p>
        <a href="{% url 'add-client' %}" class="btn btn-primary">Add Another Client</a>
        <a href="{% url 'clients-list' %}" class="btn btn-success">View Clients List</a>
    </div>
</body>
</html>

{% endblock %}
