{% extends "gr_construction_web/base_template.html" %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkSite Added</title>
</head>
<body>
    <h1>WorkSite Added Successfully!</h1>
    <a href="{% url 'add-worksite' %}">Add Another Site</a>
    <a href="{% url 'worksite-list' %}" class="btn btn-success">View Site List</a>
</body>
</html>

{% endblock %}
